*{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px; 
}

body {
	margin: 0 !important;
}

span {
	font-size: 14px !important;
}

label {
	font-size: 14px !important;
}

h1 {
	color: #03609a;
	margin: 0;
    text-align: center;
}

h2 {
	color: #03609a;
	margin: 0;
}

h5 {
	margin: 0;
}

select {
	padding: 4px 0 4px !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
}

@media only screen and (max-width: 640px) {
	
	
	#desktopMenu, #userInfoDesktop {
		display: none !important
	}
	
	h1 {
		font-size: 18px;
	}
	
	h2 {
		font-size: 16px;
	}
	
}

@media only screen and (min-width: 641px) {
	#mobileMenu {
		display: none
	}
	
	h1 {
		font-size: 42px;
	}
	
	h2 {
		font-size: 21px;
	}
	
	#footer {
		font-size: 20px;
	}
}

#footer {
	border-top: 5px #1D2858 solid;
	background-color: #03609a;
	text-align: center;
	color: #fff;
	padding: 10px;
	font-weight: bold;
	position:fixed;
	bottom:0;
	z-index: 99;
}

.ui-state-default {
	background-color: #fff !important;
	box-shadow: none !important;
}

.ui-paginator-first, .ui-paginator-prev, .ui-paginator-next, .ui-paginator-last {
    padding: 4px 6px !important;
}

.ui-button {
	background: #fff !important;
	color: #03609a !important;
}

.ui-icon-triangle-1-s {
	background-image: url("icons.png?ln=imagens") !important;
}

.ui-menuitem-icon {
	color:#fff !important;
	padding-right: 5px !important;
	border-radius: 0 !important;
}

.ui-commandlink, .menuIcons {
	font-size:28px !important;
	color:#0073BB !important;
	text-decoration: none !important;
}

.ui-widget-header, .ui-datatable thead th {
    color: #fff !important;
    background: #0073BB !important;
    text-shadow: none !important;
}

.ui-menu {
	background-color: #03609a !important;
	border: 0 !important;
	border-bottom: 5px #1D2858 solid !important;
	padding: 0 !important;
	background-image: inherit !important;
}

.ui-menu-config {
	background-color: #03609a !important;
	border: 0 !important;
	padding: 0 !important;
	background-image: inherit !important;
}

.ui-menuitem {
	background-color: #03609a !important;
}

.ui-menuitem-text {
	color: #fff !important;
}

.ui-row-editing, .ui-cell-editing {
	background: #a1c4d7 !important;
}