body {
    background-color: #dfe4e6;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#main {
    position: relative;
    min-height: 100%;
}

#header {
    position: relative;
    width: 100%;
    height: 124px;
}

#header .logo {
    float: left;
    margin-left: 80px;
    margin-top: 12px;
}

#header .detail {
    float: right;
    width: 303px;
    height: 124px;
    /*background-color: #333;*/
}

#content {
    position: relative;
    width: 100%;
    padding-bottom: 100px;
}

#content .login-background {
    background-color: #eff3f6;
    border-top: 1px solid #bcc7cf;
    border-bottom: 1px solid #bcc7cf;
}

#content .center-fixed {
    padding: 25px 0 105px 0;
}

#content .login-title {
    text-transform: uppercase;
    font-size: 44px;
    letter-spacing: -1px;
    color: #d1d3d4;
    margin-left: 80px;
    padding-bottom: 10px;
}

#content .login-form {
    width: 400px;
    height: 100px;
    margin: 0px auto 0 auto;
}

#content .login-form .login-form-label {
    float: left;
    font-size: 14px;
    text-align: right;
    width: 80px;
    padding-top: 5px;
    margin: 0 20px 20px 0;
}

#content .login-form .login-form-input {
    float: left;
    width: 300px;
    margin: 0 0 20px 0;
}

#content .login-form input[type="text"], #content .login-form input[type="password"] {
    font-size: 13px;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
}

.login-form-label {
    font-size: 14px;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
}


#content .login-form-right {
    float: right;
    width: 300px;
}

#content .login-form-links {
    float: left;
    width: 200px;
}

#content .login-form-links p {
    margin: 5px 0;
}

#content .login-form-links a {
    font-size: 13px;
}

#content .login-form-bt {
    float: right;
}

#footer {
    position: absolute;
    bottom: 0;
    color: #555555;
    font-size: 12px;
    text-align: center;
    width: 100%;
    height: 80px;
    padding-top: 20px;
}